@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Indie Flower", cursive;
  line-height: 1.6;
  color: var(--fourth-color);
}

:root {
  --primary-color: white;
  --secondary-color: #e5a9a9;
  --third-color: #6bb1ad;
  --fourth-color: #181a18;
  --fifth-color: #e6748e;
  --main-font: "Fuzzy Bubbles", sans-serif;
  --promo: #e5a9a9;
  --light-text: #edecdb;
  --headers: rgb(174, 102, 189);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6bb1ad;
}

.maincont {
    
    margin: auto;
    background-color: #e5a9a9;
    width: 98%;
    align-items: center;
    
}

.cont {
    display: grid;
    grid-gap: 10px;
    grid-template: 
    "header header header"
    "stamp stamp stamp"
    "sidebar1 main2 sidebar2"
    "footer footer footer"
    / 140px 1fr 140px;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: green;
    height: 150px
}

.side1 {
    grid-area: sidebar1;
    background-color: blue;
    height: 20px;
}

.marquee {
    grid-area: stamp;
    height: 20px;
    background-color: blue;
}

.main2 {
    grid-area: main2;
    height: 20px;
    background-color: green;
}

.side2 {
    grid-area: sidebar2;
    height: 20px;
    background-color: red;
}

.footer {
    grid-area: footer;
}



/* border lace */


.box21 {
    margin : 20px auto;
    width: 900px; 
    height: auto;
} 

.u01 { 
    background : url('../img/f-ue.gif') repeat-x; 
    height : 23px ; 
    margin : 0 23px 
} 

.s01 { 
    background : url('../img/f-sita.gif') repeat-x; 
    height: 23px; 
    margin: 0 23px 
} 

.box-top { 
    background-image : url('../img/f-kado1.gif'), url('../img/f-kado2.gif'); 
    background-position: top left , top right; 
    background-repeat : no-repeat , no-repeat; 
    height : 23px 
} 

.box-center { 
    background-image: url('../img/f-migi.gif') , url( '../img/f-hidari.gif'); 
    background-position : top right, top left; 
    background-repeat: repeat-y ,repeat-y;
} 
    
.box-inner { 
    background :#fff; /* Background color */ 
    margin : 0 23px;
    padding: 10px 0;
} 

.box-bottom { 
    background-image :  url('../img/f-kado3.gif') , url( '../img/f-kado4.gif'); 
    background-position: top left , top right; 
    background-repeat : no-repeat , no-repeat; 
    height: 23px; 
} 